body {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    font-family: Arial, sans-serif;
    background-image:url(./assets/yugiOh-background.webp); ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

.yugioh-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    max-width: 500px;
    height: auto;
}

h3 {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black;
}

p {
    margin: 1px 0px 0px 0px;
    font-size: 1.1em;
    color:black;
    font-weight: bold;
}

.cards-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    margin-bottom: 60px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.488);
    border-radius: 10px;
}

.yugiOh-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.yugiOh-card-img {
    width: 300px;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 20px;
}

/* ------------------------------ FLIP CARDS--------------------------------- */
.flip-card {
    width: 300px;
    height: 450px;
    perspective: 1000px;
}

.flip-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.flip-card:hover .flip-inner {
    transform: rotateY(180deg);
}

.flip-front,
.flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
}

.flip-front {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-back {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgb(203, 247, 246);
    border: 1px solid #ddd;
    transform: rotateY(180deg);
    font-size: 14px;
}
